<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>OnlySharks</title>
    <meta name="twitter:description" content="Microblogging, but only sharks.">
    <meta name="twitter:image" content="/assets/img/image0.png">
    <meta name="description" content="Microblogging, but only sharks.">
    <meta property="og:image" content="/assets/img/image0_beeg.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="OnlySharks">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/png" sizes="1000x1000" href="/assets/img/onlysharks_logo.png">
    <link rel="icon" type="image/png" sizes="1000x1000" href="/assets/img/onlysharks_logo.png">
    <link rel="icon" type="image/png" sizes="1000x1000" href="/assets/img/onlysharks_logo.png">
    <link rel="icon" type="image/png" sizes="1000x1000" href="/assets/img/onlysharks_logo.png">
    <link rel="icon" type="image/png" sizes="1000x1000" href="/assets/img/onlysharks_logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body style="background: url(&quot;/assets/img/image0_beeg_blank_new.png&quot;);background-size: cover;filter: blur(0px);">
<div id="scrollbarBypass">
    <div class="d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-xl-center align-items-xl-center" id="content" style="min-height: 100vh;">
        <div class="container">
            <div class="row">
                <div class="col d-flex d-lg-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center" style="text-align: center;filter: blur(0px);"><img src="/assets/img/image1_beeg_trans.png" style="max-width: 50%;" alt="OnlySharks Logo"></div>
            </div>
        </div>
        <div class="container" style="filter: blur(0px);margin-top: 15px;">
            <div class="row">
                <div class="col d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-xl-center align-items-xl-center"><button class="btn btn-primary" type="button" style="background: rgb(255,255,255);color: rgb(0,0,0);font-size: 35px;font-family: 'M PLUS Rounded 1c', sans-serif;">Login</button>
                    <hr><button class="btn btn-primary" type="button" style="color: rgb(0,0,0);background: rgb(255,255,255);font-size: 35px;font-family: 'M PLUS Rounded 1c', sans-serif;">Register</button></div>
            </div>
        </div>
        <div class="container" style="filter: blur(0px);margin-top: 15px;">
            <div class="row">
                <div class="col d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-xl-center align-items-xl-center"><span><a href="/about.html" style="color: rgb(255,255,255);font-size: 25px;margin-right: 10px;margin-left: 10px;">About</a><a href="https://devpost.com/software/sharksonly" style="color: rgb(255,255,255);font-size: 25px;margin-right: 10px;margin-left: 10px;">DevPost</a><a href="https://gitlab.com/onlysharks" style="color: rgb(255,255,255);font-size: 25px;margin-right: 10px;margin-left: 10px;">GitLab</a></span></div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/script.min.js"></script>
</body>

</html>