<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>OnlySharks</title>
    <meta name="twitter:description" content="Microblogging, but only sharks.">
    <meta name="twitter:image" content="/assets/img/image0.png">
    <meta name="description" content="Microblogging, but only sharks.">
    <meta property="og:image" content="/assets/img/image0_beeg.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="OnlySharks">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/png" sizes="1000x1000" href="/assets/img/onlysharks_logo.png">
    <link rel="icon" type="image/png" sizes="1000x1000" href="/assets/img/onlysharks_logo.png">
    <link rel="icon" type="image/png" sizes="1000x1000" href="/assets/img/onlysharks_logo.png">
    <link rel="icon" type="image/png" sizes="1000x1000" href="/assets/img/onlysharks_logo.png">
    <link rel="icon" type="image/png" sizes="1000x1000" href="/assets/img/onlysharks_logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body style="background: url(&quot;/assets/img/image4.jpg&quot;), #ffffff;">
    <div class="container">
        <div class="d-flex">
            <div class="row d-flex flex-row flex-grow-1 flex-shrink-1" style="padding-top: 30px;">
                <div class="col-3" style="border-top-style: none;border-top-color: rgb(174,214,255);border-left-style: none;border-left-color: rgb(174,214,255);">
                    <div class="container">
                        <div class="row">
                            <a href="/home"><div class="col"><img src="/assets/img/image2.png" style="max-width: 100%;" hre></div></a>
                        </div>
                        <div class="row" style="margin-top: 25px;margin-bottom: 25px;">
                            <div class="col"><a class="btn btn-primary btn-lg text-white" role="button" style="border-top-style: none;border-bottom-style: none;border-left-style: none;color: rgb(0,0,0);font-family: 'M PLUS Rounded 1c', sans-serif;font-size: 26px;background: #4d73dd;"
                                    href="/new-post">New Post</a></div>
                        </div>
                        <div class="row" style="margin-top: 25px;margin-bottom: 25px;">
                            <div class="col"><a class="btn" role="button" style="border-top-style: none;border-bottom-style: none;border-left-style: none;color: rgb(255,255,255);font-family: 'M PLUS Rounded 1c', sans-serif;font-size: 26px;" href="/{{ current_username }}">My Profile</a></div>
                        </div>
                        <div class="row" style="margin-top: 25px;margin-bottom: 25px;">
                            <div class="col"><a class="btn" role="button" style="border-top-style: none;border-bottom-style: none;border-left-style: none;color: rgb(255,255,255);font-family: 'M PLUS Rounded 1c', sans-serif;font-size: 26px;" href="/settings">Settings</a></div>
                        </div>
                        <div class="row" style="margin-top: 25px;margin-bottom: 25px;">
                            <div class="col"><a class="btn" role="button" style="border-top-style: none;border-bottom-style: none;border-left-style: none;color: rgb(255,255,255);font-family: 'M PLUS Rounded 1c', sans-serif;font-size: 26px;" href="/logout">Log Out</a></div>
                        </div>
                    </div>
                </div>
                <div class="col" style="border-style: none;border-top-style: none;border-top-color: #aed6ff;border-right-style: none;border-right-color: rgb(174,214,255);border-left-style: none;border-left-color: rgb(174,214,255);">
                    <div class="container">
                        <div class="row" style="padding-top: 25px;border-bottom: 1px solid rgb(232,232,232) ;">
                            <div class="col">
                                <h1 class="text-left" style="color: rgb(255,255,255);font-family: 'M PLUS Rounded 1c', sans-serif;">Profile</h1>
                            </div>
                        </div>
                        <div class="row d-flex" style="padding-top: 25px;padding-bottom: 25px;border-bottom: 1px none rgb(232,232,232) ;">
                            <div class="col-4"><img src="{{ pfp }}" style="min-width: 100%;max-width: 100%;min-height: 100%;max-height: 100%;"></div>
                            <div class="col-8">
                                <h1 class="text-left" style="color: rgb(255,255,255);font-family: 'M PLUS Rounded 1c', sans-serif;font-size: 35px;">{{ displayname }}</h1>
                                <h1 class="text-left" style="color: rgb(255,255,255);font-family: 'M PLUS Rounded 1c', sans-serif;font-size: 25px;">@{{ username }}</h1>
                                <p style="color: rgb(255,255,255);font-size: 17px;">{{ description }}</p>
                            </div>
                        </div>
                        <div class="row d-flex" style="border-bottom: 1px solid rgb(232,232,232);padding-bottom: 10px;">
                            <div class="col">
                                <p style="color: rgb(255,255,255);font-size: 20px;">{{ followers }} Followers</p>
                            </div>
                            <div class="col">
                                <p style="color: rgb(255,255,255);font-size: 20px;">{{ postsamount }} Posts</p>
                            </div>
                            <div class="col">
                                <p style="color: rgb(255,255,255);font-size: 20px;">{{ likedamount }} Liked Posts</p>
                            </div>
                        </div>
                        <div class="row d-flex" style="padding-bottom: 10px;border-bottom: 1px none rgb(232,232,232) ;">
                            <div class="col">
                                <p style="color: rgb(255,255,255);font-size: 35px;padding-top: 5px;">Posts:</p>
                            </div>
                        </div>
                        <div class="row d-flex" style="padding-bottom: 10px;border-bottom: 1px none rgb(232,232,232) ;"><div class="col"></div></div>
                    </div>
                </div>
                <div class="col-3" style="border-top-style: none;border-top-color: rgb(174,214,255);border-right-style: none;border-right-color: rgb(174,214,255);">
                    <div class="row" style="padding-top: 35px;">
                        <div class="col"><input type="text" name="search" placeholder="Search OnlySharks"></div>
                    </div>
                    <div class="row" style="padding-top: 35px;">
                        <div class="col">
                            <div style="padding-top: 5px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px;">
                                <h1 class="display-4" style="font-size: 30px;border-bottom: 1px solid rgb(232,232,232);color: rgb(255,255,255);">Who to Follow</h1><a class="d-xl-flex flex-row justify-content-xl-start" href="/evie" style="margin-bottom: 10px;"><img class="img-thumbnail img-fluid" src="https://cdn.discordapp.com/avatars/94950442307424256/3176c5bf39fc9984e81afbb9cd15d1e3.png?size=512" style="max-width: 35%;max-height: 35%;min-width: 35%;min-height: 35%;margin-right: 15px;" width="512px" height="512px"><br><span style="font-size: 20px;">Evie<br>@evie<br><br></span></a>
                                <a
                                    class="d-xl-flex flex-row justify-content-xl-start" href="/aphawvn" style="margin-bottom: 10px;"><img class="img-thumbnail img-fluid" src="https://media.discordapp.net/attachments/785064458962599937/785102903274504202/alimage.jpg" style="max-width: 35%;max-height: 35%;min-width: 35%;min-height: 35%;margin-right: 15px;"
                                        width="512px" height="512px"><br><span style="font-size: 20px;">Al<br>@aphawvn</span></a><a class="d-xl-flex flex-row justify-content-xl-start" href="/am1n" style="margin-bottom: 10px;"><img class="img-thumbnail img-fluid" src="https://cdn.discordapp.com/avatars/244115735004053505/a56655f101b4ddd8e6b62ca705aec75b.png?size=128" style="max-width: 35%;max-height: 35%;min-width: 35%;min-height: 35%;margin-right: 15px;" width="512px" height="512px"><br><span style="font-size: 20px;">Amin<br>@am1n</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/script.min.js"></script>
</body>

</html>