<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>OnlySharks</title>
    <meta name="twitter:description" content="Microblogging, but only sharks.">
    <meta name="twitter:image" content="/assets/img/image0.png">
    <meta name="description" content="Microblogging, but only sharks.">
    <meta property="og:image" content="/assets/img/image0_beeg.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="OnlySharks">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/png" sizes="1000x1000" href="/assets/img/onlysharks_logo.png">
    <link rel="icon" type="image/png" sizes="1000x1000" href="/assets/img/onlysharks_logo.png">
    <link rel="icon" type="image/png" sizes="1000x1000" href="/assets/img/onlysharks_logo.png">
    <link rel="icon" type="image/png" sizes="1000x1000" href="/assets/img/onlysharks_logo.png">
    <link rel="icon" type="image/png" sizes="1000x1000" href="/assets/img/onlysharks_logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <script>
        function getFormData($form){
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function(n, i){
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }

        function submitreg() {
            var dateControl = document.querySelector('input[type="date"]');

            let formData = getFormData($('#register_form'))
            formData.displayname = getFormData($('#register_form')).username
            formData.birthday = dateControl.value

            let post_data = $.ajax({
                type: "POST",
                url: "http://localhost:8000/api/users/create",
                async: false,
                data: JSON.stringify(formData),
                complete: function(response){
                    return response

                },
                dataType: "json",
                contentType : "application/json"
            }).responseText;

            console.log(post_data)
            let userCreds = post_data.split(",");
            document.cookie = "user_id=" + userCreds[1] + ";"
            document.cookie = "jwt=" + userCreds[0] + ";"
            console.log(document.cookie)

            window.location.replace("/home")
        }
    </script>
</head>

<body style="background: url(&quot;/assets/img/image0_beeg_blank_new.png&quot;);background-size: cover;">
    <div id="scrollbarBypass">
        <div class="d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-xl-center align-items-xl-center" id="content" style="min-height: 100vh;">
            <div class="container">
                <div class="row">
                    <div class="col d-flex d-lg-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center" style="text-align: center;filter: blur(0px);"><img src="/assets/img/image1_beeg_trans.png" style="max-width: 30%;" alt="OnlySharks Logo"></div>
                </div>
            </div>
            <div class="container" style="filter: blur(0px);margin-top: 15px;">
                <div class="row">
                    <div class="col d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-xl-center align-items-xl-center">
                        <h1 class="display-4" style="color: rgb(255,255,255);font-size: 45px;">Register a New Account</h1>
                        <hr>
                        <form id="register_form"><span class="d-xl-flex align-items-xl-center" style="color: rgb(255,255,255);font-size: 20px;font-weight: bold;margin-bottom: 10px;">Username: <input class="form-control" type="text" placeholder="sharkie" name="username" style="margin-left: 10px;"></span>
                            <span
                                class="d-xl-flex align-items-xl-center" style="color: rgb(255,255,255);font-size: 20px;font-weight: bold;margin-bottom: 10px;">Email: <input class="form-control" type="email" placeholder="example@example.com" name="email" style="margin-left: 10px;"></span><span class="d-xl-flex align-items-xl-center" style="color: rgb(255,255,255);font-size: 20px;font-weight: bold;margin-bottom: 10px;">Password: <input class="form-control" type="password" name="password" placeholder="************" style="margin-left: 10px;"></span>
                                <span
                                    class="d-xl-flex align-items-xl-center" style="color: rgb(255,255,255);font-size: 20px;font-weight: bold;margin-bottom: 10px;">Birthday: <input class="form-control" type="date" style="margin-left: 10px;"></span>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container" style="filter: blur(0px);margin-top: 15px;">
                <div class="row">
                    <div class="col d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-xl-center align-items-xl-center"><button class="btn btn-primary" type="button" style="color: rgb(0,0,0);background: rgb(255,255,255);font-size: 30px;font-family: 'M PLUS Rounded 1c', sans-serif;" onclick="submitreg()">Register</button></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>